#### cross_val_score

# 1. 환경준비

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/boston.csv'
data = pd.read_csv(path)
data.head(3)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

# 2. 데이터 이해

In [3]:
data.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [4]:
# plt.figure(figsize=(30,20))
# sns.heatmap(data.corr(), annot=True, cmap='Blues',
#             vmin=-1, vmax=1)
# plt.show()

data.corr()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
crim,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621,-0.388305
zn,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995,0.360445
indus,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800,-0.483725
chas,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929,0.175260
nox,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879,-0.427321
rm,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808,0.695360
age,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339,-0.376955
dis,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996,0.249929
rad,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676,-0.381626
tax,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993,-0.468536
ptratio,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044,-0.507787
black,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087,0.333461
lstat,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000,-0.737663
medv,-0.388305,0.360445,-0.483725,0.175260,-0.427321,0.695360,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663,1.000000

# 3. 데이터 준비

In [5]:
target='medv'

x = data.drop(target, axis=1)
y = data[target]

In [6]:
x = (x-x.min()) / (x.max()-x.min())

In [7]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,
                                                 random_state=2022)

# 4. 모델링

#### LinearRegression

In [11]:
# 1. 불러오기
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

# 2. 선언하기
model = LinearRegression()

# 3. 학습하기, 예측하기, 평가하기
cv_score = cross_val_score(model,x_train,y_train,cv=10)


print(cv_score)
print('평균 :', cv_score.mean())
print('표준편차 :', cv_score.std())

[0.60111914 0.80415093 0.72032973 0.77772325 0.46198646 0.60611024
 0.6781901  0.75249854 0.78569936 0.79130233]
평균 : 0.6979110071590404
표준편차 : 0.10555254457260282

#### KNN

In [10]:
# 1. 불러오기
from sklearn.neighbors import KNeighborsRegressor     # y가 수치형이기 때문에
from sklearn.model_selection import cross_val_score   

# 2. 선언하기
model = KNeighborsRegressor()

# 3. 학습하기, 예측하기, 평가하기
cv_score = cross_val_score(model,x_train,y_train,cv=10)

print(cv_score)
print('평균 :', cv_score.mean())
print('표준편차 :', cv_score.std())

[0.36715057 0.67693985 0.66740487 0.73962399 0.58467739 0.47964806
 0.68490351 0.55404666 0.77567643 0.83437924]
평균 : 0.6364450566848314
표준편차 : 0.13443584839930167

#### knn_k, k-fold_k를 for문에 넣어주기

In [12]:
result = []
my_k = []
my_cv = []

for i in range(3,22,2):
    for c in range(5,11,1):
        model = KNeighborsRegressor(n_neighbors=i)
        cv_score = cross_val_score(model,x_train,y_train,cv=c)
        
        result.append(cv_score.mean())
        my_k.append(i)
        my_cv.append(c)
        
score = pd.DataFrame()
score['knn_k'] = my_k
score['cv'] = my_cv
score['result'] = result

score.sort_values('result', ascending=False, inplace=True)
score.head(10)

    knn_k  cv    result
4       3   9  0.710769
1       3   6  0.697725
0       3   5  0.695812
2       3   7  0.695604
5       3  10  0.693162
3       3   8  0.684750
10      5   9  0.669913
8       5   7  0.645660
7       5   6  0.637445
11      5  10  0.636445

#### Decision Tree

In [13]:
from sklearn.tree import DecisionTreeRegressor       # y가 수치형 이기 때문에
from sklearn.model_selection import cross_val_score

model = DecisionTreeRegressor()

cv_score = cross_val_score(model,x_train,y_train,cv=10)

print(cv_score)
print('평균 :', cv_score.mean())
print('표준편차 :', cv_score.std())

[0.80929799 0.72251784 0.80563911 0.72805139 0.70132594 0.21857687
 0.62040653 0.81047371 0.76641261 0.8328673 ]
평균 : 0.7015569285732275
표준편차 : 0.17226411798475955