In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
graduate = pd.read_csv('https://bit.ly/GraduateFile')
graduate.head(5)

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [6]:
graduate['rank'].value_counts()

2    151
3    121
4     67
1     61
Name: rank, dtype: int64

In [9]:
# 가변수화
graduate = pd.get_dummies(graduate, columns=['rank'], drop_first=True)

graduate.head(5)

# rank_1 = 000 으로 알 수 있기 때문에, drop_first 로 첫번째 제거.

   admit  gre   gpa  rank_2  rank_3  rank_4
0      0  380  3.61       0       1       0
1      1  660  3.67       0       1       0
2      1  800  4.00       0       0       0
3      1  640  3.19       0       0       1
4      0  520  2.93       0       0       1